<div class="main">
  <div class="logo-container">
    <img src="/logo.png" alt="Logo">
  </div>
  <div class="title">
    <span>TRIFISIO</span>
  </div>
  <div class="description">
    <span>LFR. MARCO CHAVEZ</span>
  </div>

  <div class="links-container" (click)="navigateToUrl('https://www.facebook.com/profile.php?id=100029115144947&rdid=Q0VU5RpcVhSmOzA0#')">
    <i class="bi bi-facebook"></i>
    <span>Siguenos</span>
  </div>

  <div class="links-container" (click)="navigateToUrl('https://www.tiktok.com/@trifisio8?_t=ZM-8tQP6vf9Ddt&_r=1')">
    <i class="bi bi-tiktok"></i>
    <span>Siguenos</span>
  </div>

  <div class="links-container" (click)="navigateToUrl('https://www.instagram.com/fisio.marcochavez?igsh=YXN5aXRkaHg2NDJh')">
    <i class="bi bi-instagram"></i>
    <span>Siguenos</span>
  </div>

  <div class="links-container" (click)="navigateToUrl(' https://api.whatsapp.com/send/?phone=528333314214&text&type=phone_number&app_absent=0&wame_ctl=1&fbclid=PAY2xjawIE0KdleHRuA2FlbQIxMAABpuA009bEMlFjxNx2ObMW-HCOj8cp5Cf9OZoGA8JXuyjRseVGLTlzzgTvJA_aem_p_oM29FgI0gJA8apAEoonA')">
    <i class="bi bi-whatsapp"></i>
    <span>Contactanos</span>
  </div>

  <!-- <div class="links-container" (click)="navigateToUrl('https://www.google.com/maps/place/TRIFISIO/@22.2695487,-97.855823,17z/data=!3m1!4b1!4m6!3m5!1s0x85d7f9006eea7b51:0x66b3a0806da891c1!8m2!3d22.2695487!4d-97.855823!16s%2Fg%2F11wqcpmxxl?entry=ttu&g_ep=EgoyMDI1MDEyMi4wIKXMDSoASAFQAw%3D%3D')">
    <i class="bi bi-geo-alt-fill"></i>
    <span>Visitanos</span>
  </div> -->
  <div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29536.76254436568!2d-97.85852666638955!3d22.27437887346106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d7f9006eea7b51%3A0x66b3a0806da891c1!2sTRIFISIO!5e0!3m2!1ses-419!2smx!4v1738015092250!5m2!1ses-419!2smx" width="80%" height="100px" style="border:0;margin-left: 10%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <div class="links-container" (click)="copy('1234 5678 9012 3456')">
    <i class="bi bi-credit-card"></i>
    <span class="credit-number">1234 5678 9012 3456 <i class="bi bi-copy"></i></span>
  </div>

  

</div>
